.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  


#primary-menu>ul>li.sub-menu>a>div:after,
#primary-menu>ul>li.sub-menu li.sub-menu:after  {
    position: relative;
    color: grey;
    content: "\f103";
    font-size: 14px;
    font-family: FontAwesome;
    font-weight: 400;
    text-rendering: auto;
    top:0; 
    left: 5px; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.preloader-box {
	position: fixed;
  background: black;
	top: 0;
	left:0;
	right: 0;
	bottom: 0; 
	z-index: 99999999999; 
	padding-top: 25%;
}

body {
    background-color:black;
    
}